.slotcontrol {
  clear: both;
  margin-left: 6px;
  margin-bottom: 5px; }
  .slotcontrol div:nth-child(1) .bar {
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(red), color-stop(0.167, yellow), color-stop(0.333, lime), color-stop(0.5, #00e1ff), color-stop(0.667, blue), color-stop(0.833, fuchsia), to(red)) !important; }
  .slotcontrol div:nth-child(2) .bar {
    background-color: red;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(255, 255, 255, 0)), to(white)); }
  .slotcontrol div:nth-child(3) .bar, .slotcontrol div:nth-child(4) .bar {
    background-color: white;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(0, 0, 0, 0)), to(black)); }
  .slotcontrol .number .bar {
    width: 200px; }
  .slotcontrol .slot {
    height: 80px; }

.color {
  width: 200px;
  padding: 10px; }
  .color .wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px; }
  .color .colorBox {
    width: 20px;
    height: 50px;
    margin: 2px;
    margin-left: 6px; }
  .color label {
    font-size: 11px; }
  .color .control {
    padding: 10px; }
  .color dl {
    width: 100px; }
    .color dl dt {
      width: 25px;
      float: left;
      text-align: right; }
    .color dl dd {
      width: 70px;
      float: right; }
      .color dl dd input {
        width: 65px; }
  .color .format {
    margin-top: 5px;
    margin-bottom: 10px; }
    .color .format dl {
      width: 228px; }
      .color .format dl dd {
        width: 190px; }
        .color .format dl dd input {
          width: 190px; }
  .color .sb {
    width: 200px;
    height: 200px; }
  .color .black, .color .white, .color .sb, .color .wrapper, .color .hue, .color .colorBox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; }
  .color .black {
    background-image: -moz-linear-gradient(100% 100% 90deg, black, rgba(0, 0, 0, 0));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(black));
    cursor: crosshair; }
  .color .white {
    background-image: -moz-linear-gradient(100% 50%, rgba(255, 255, 255, 0), white);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(white), to(rgba(255, 255, 255, 0))); }
  .color .hue {
    margin-top: 10px;
    margin-right: 10px;
    background-image: -moz-linear-gradient(100% 100%, red, fuchsia, blue, aqua, lime, yellow, red);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(red), color-stop(0.167, yellow), color-stop(0.333, lime), color-stop(0.5, #00e1ff), color-stop(0.667, blue), color-stop(0.833, fuchsia), to(red)); }
  .color #knob {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer; }
  .color #xyknob {
    width: 10px;
    cursor: crosshair;
    height: 10px; }
  .color #xyknob, .color #knob {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
