.float {
  z-index: 200;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(100% 100% 90deg, #d9d9d9, #e0e0e0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#d9d9d9)); }
  .float .controls {
    position: absolute;
    top: 0;
    right: -5px;
    width: 0;
    height: 0; }
    .float .controls > div {
      position: static !important; }
    .float .controls > div:first-child .icon {
      position: static !important;
      margin-bottom: 6px; }
  .float .handle, .float .bottom {
    height: 10px; }
  .float .handle {
    background-color: #87b5ed;
    border-bottom: 1px solid #7a9cdb;
    background-image: -moz-linear-gradient(100% 100% 90deg, #85a7ea, #799de0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#799de0), to(#85a7ea));
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
  .float .bottom {
    background-color: #6f95db;
    background-image: -moz-linear-gradient(100% 100% 90deg, #6f95db, #85a7ea);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85a7ea), to(#6f95db));
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #7a9cdb; }
  .float .base {
    background-color: #e0e0e0; }
  .float .icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-position: center; }
  .float .controls > div {
    -webkit-transition-duration: 0.3s; }
