form {
  text-align: center;
  padding-bottom: 10px;
  width: 275px; }

fieldset {
  text-align: left;
  border: 1px solid #cccccc;
  margin: 10px;
  width: 250px; }
  fieldset legend {
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px 0 5px; }

form input, form select {
  width: 120px; }

dl {
  clear: both;
  height: 30px;
  margin: 0; }

dt {
  width: 120px;
  float: left;
  text-align: right;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  margin-right: 5px; }
  dt label {
    font-size: 10px; }

dd {
  float: right;
  margin: 0;
  padding: 0;
  text-align: left; }
  dd label {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px; }
