.picker .color .number, .picker .color .pushgroup {
  box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0; }

.color {
  color: #123457;
  width: 200px;
  min-width: 85px;
  margin: 5px;
  padding: 10px; }
  .color .number {
    -webkit-transition-duration: 0; }
  .color .pushgroup, .color .number {
    margin: 5px 0; }
  .color .wrapper {
    position: relative;
    margin: 10px 0; }
  .color .xyknob {
    width: 10px;
    cursor: crosshair;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
