.disabled {
  opacity: 0.4; }

.basicSize, .blender-button-key, .blender-button, .blender-button-push, .blender-button-toggle {
  width: 200px;
  min-width: 85px;
  height: 20px;
  line-height: 20px; }

.basic, .blender-button-key, .blender-button, .blender-button-push, .blender-button-toggle, .blender-slider, .blender-number, .time, .date, .date-time, .slot, .blender-checkbox .blender-checkbox-sign, .blender-icon, .blender-list, .blender-textarea, .blender-push-group, .blender-unit, .blender-select {
  border: 1px solid #151b21;
  font-size: 12px;
  margin: 5px;
  color: #666666;
  background-color: #3e4d5e;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-user-select: none;
  -webkit-background-clip: padding-box; }

.nobasic, .time .slot, .date .slot, .date-time .slot, .slot .blender-list, .blender-picker > *:first-child, .blender-push-group .blender-button-push, .blender-unit .blender-number, .blender-unit .blender-number .blender-number-text, .blender-unit .blender-select, .blender-select .blender-icon {
  margin: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent; }

.dark-on-light, .blender-checkbox .blender-checkbox-sign, .blender-select {
  color: #fdfdfd;
  background-color: #2e3945; }
  .dark-on-light:hover, .blender-checkbox .blender-checkbox-sign:hover, .blender-select:hover {
    background-color: #3e4d5e; }
  .dark-on-light:active, .blender-checkbox .blender-checkbox-sign:active, .blender-select:active {
    background-color: #778ca5;
    color: #212121; }

.light-on-dark, .blender-button-key, .blender-button, .blender-icon {
  color: #212121;
  background-color: #778ca5; }
  .light-on-dark:hover, .blender-button-key:hover, .blender-button:hover, .blender-icon:hover {
    background-color: #95a6b9; }
  .light-on-dark:active, .blender-button-key:active, .blender-button:active, .blender-icon:active {
    background-color: #3e4d5e;
    color: #fdfdfd; }

.blue-gradient, .slot .blender-list-selected, .blender-list-item:hover, .blender-menu-list-item:hover {
  background-image: -moz-linear-gradient(100% 100% 90deg, #4b78be, #6188c6);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6188c6), to(#4b78be)); }

.blue-igradient, .blender-button-push.pushed {
  background-image: -moz-linear-gradient(100% 100% 90deg, #6188c6, #4b78be);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4b78be), to(#6188c6)); }

.red-gradient, .dialog-alert .blender-button:hover {
  background-image: -moz-linear-gradient(100% 100% 90deg, #bd4615, #d95017);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d95017), to(#bd4615)); }

.red-darker-gradient, .dialog-alert .blender-button {
  background-image: -moz-linear-gradient(100% 100% 90deg, #943710, #af4113);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#af4113), to(#943710)); }

.red-darker-igradient, .dialog-alert .blender-button:active {
  background-image: -moz-linear-gradient(100% 100% 90deg, #af4113, #943710);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#943710), to(#af4113)); }

.light-gradient, .blender-button, .blender-button-toggle .blender-button-toggle-separator, .blender-slider.horizontal .blender-slider-progress, .blender-icon {
  background-image: -moz-linear-gradient(100% 100% 90deg, #778ca5, #95a6b9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#95a6b9), to(#778ca5)); }

.lighter-gradient, .blender-button:hover, .blender-icon:hover {
  background-image: -moz-linear-gradient(100% 100% 90deg, #8094ab, #9eaebf);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9eaebf), to(#8094ab)); }

.lighter-igradient, .blender-button-key:hover, .blender-number:hover {
  background-image: -moz-linear-gradient(100% 100% 90deg, #9eaebf, #8094ab);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8094ab), to(#9eaebf)); }

.light-igradient, .blender-button-key, .blender-number, .blender-textarea {
  background-image: -moz-linear-gradient(100% 100% 90deg, #95a6b9, #778ca5);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#778ca5), to(#95a6b9)); }

.middle-gradient {
  background-image: -moz-linear-gradient(100% 100% 90deg, #566b83, #627a95);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#627a95), to(#566b83)); }

.middle-igradient, .blender-number:active {
  background-image: -moz-linear-gradient(100% 100% 90deg, #627a95, #566b83);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566b83), to(#627a95)); }

.darker-gradient, .blender-button-push, .blender-button-toggle, .blender-icon:active, .blender-select {
  background-image: -moz-linear-gradient(100% 100% 90deg, #2e3945, #3e4d5e);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e4d5e), to(#2e3945)); }

.dark-gradient, .blender-button-push:hover:not(.pushed), .blender-select:hover {
  background-image: -moz-linear-gradient(100% 100% 90deg, #384555, #485a6d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#485a6d), to(#384555)); }

.darker-igradient, .blender-button:active, .blender-button-key.active, .blender-slider.horizontal, .blender-select:active {
  background-image: -moz-linear-gradient(100% 100% 90deg, #3e4d5e, #2e3945);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2e3945), to(#3e4d5e)); }

.dark-igradient {
  background-image: -moz-linear-gradient(100% 100% 90deg, #485a6d, #384555);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#384555), to(#485a6d)); }

.blender-button-key, .blender-button, .blender-button-push, .blender-button-toggle {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  cursor: pointer; }

.blender-button-push {
  background-color: #2e3945;
  color: #fdfdfd; }
  .blender-button-push:hover:not(.pushed) {
    background-color: #3e4d5e; }
  .blender-button-push.pushed {
    color: #212121;
    background-color: #5680c2; }

.blender-button-toggle {
  width: 200px;
  min-width: 85px;
  height: 20px;
  line-height: 20px; }
  .blender-button-toggle .blender-button-toggle-on {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -khtml-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  .blender-button-toggle .blender-button-toggle-off {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
  .blender-button-toggle .blender-button-toggle-on, .blender-button-toggle .blender-button-toggle-off, .blender-button-toggle .blender-button-toggle-sep {
    font-size: 12px;
    text-align: center;
    width: 100px;
    color: #fdfdfd; }
  .blender-button-toggle .blender-button-toggle-separator {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #778ca5; }

.blender-button-key.active {
  background-color: #2e3945;
  color: #fdfdfd; }

.blender-slider {
  background-color: #3e4d5e; }
  .blender-slider.horizontal {
    width: 200px;
    min-width: 85px;
    height: 10px; }
  .blender-slider.vertical {
    width: 10px;
    height: 200px;
    min-height: 85px; }
  .blender-slider .blender-slider-progress {
    background-color: #778ca5; }

.blender-number {
  background-color: #778ca5; }
  .blender-number .blender-slider-progress {
    background-color: transparent; }
  .blender-number:hover {
    background-color: #95a6b9; }
  .blender-number:active {
    background-color: #5c738c; }
  .blender-number:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #3e4d5e; }
  .blender-number:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #3e4d5e; }
  .blender-number.horizontal {
    width: 200px;
    height: 20px;
    min-width: 85px; }
  .blender-number.vertical {
    width: 20px;
    height: 200px;
    min-height: 85px; }

.blender-slider, .blender-number {
  cursor: move;
  overflow: hidden; }
  .blender-slider .blender-slider-progress, .blender-number .blender-slider-progress {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px; }
  .blender-slider .blender-number-text, .blender-slider input, .blender-number .blender-number-text, .blender-number input {
    color: #212121;
    font-size: 12px;
    text-align: center;
    line-height: 20px; }
  .blender-slider input, .blender-number input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5); }

.picker .color .number, .picker .color .pushgroup {
  box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0; }

.color {
  color: #123457;
  width: 200px;
  min-width: 85px; }
  .color .number {
    -webkit-transition-duration: 0; }
  .color .blender-number, .color .blender-push-group {
    margin: 5px 0; }
  .color .wrapper {
    position: relative;
    margin: 10px 0; }
  .color .xyknob {
    width: 10px;
    cursor: crosshair;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.dialog-alert {
  width: 200px;
  min-width: 85px; }

.dialog-confirm {
  width: 200px;
  min-width: 85px; }

.dialog-prompt {
  width: 200px;
  min-width: 85px; }

.dialog-alert .blender-button {
  color: #fdfdfd; }

.dialog-prompt-label, .dialog-alert-label {
  color: #fdfdfd;
  margin-left: 7px;
  margin-bottom: 2px;
  margin-top: 7px;
  font-size: 12px; }

@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold,italic);
.date-time {
  width: 200px; }

.time {
  width: 200px; }

.date {
  width: 200px; }

.time, .date, .date-time {
  height: 100px;
  cursor: pointer; }
  .time .slot, .date .slot, .date-time .slot {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    float: left; }

.slot {
  height: 100px;
  width: 200px; }
  .slot .blender-list {
    -webkit-transition-duration: 0.3s; }
    .slot .blender-list .blender-list-item {
      color: #212121;
      text-align: center; }
  .slot .blender-list-selected {
    background-color: #5680c2;
    border-top: 1px solid #151b21;
    border-bottom: 1px solid #151b21;
    color: #fdfdfd !important; }

.blender-checkbox {
  width: 200px;
  min-width: 85px;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none; }
  .blender-checkbox.checked {
    color: #fdfdfd; }
    .blender-checkbox.checked .blender-checkbox-sign:before {
      content: "\00A0\221A"; }
  .blender-checkbox .blender-checkbox-sign {
    width: 13px;
    height: 13px;
    margin: 2px 5px;
    float: left; }
    .blender-checkbox .blender-checkbox-sign:before {
      content: "";
      font-weight: bold;
      font-size: 18px;
      position: relative;
      top: -6px;
      left: -2px;
      color: #fdfdfd; }

.blender-icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer; }

.blender-list-item, .blender-menu-list-item {
  clear: both;
  height: 20px;
  color: #fdfdfd;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer; }
  .blender-list-item .title, .blender-menu-list-item .title {
    margin-left: 5px; }
  .blender-list-item:hover, .blender-menu-list-item:hover {
    background-color: #5680c2;
    color: #212121; }

.blender-menu-list-item .title {
  margin-right: 10px; }
.blender-menu-list-item .shortcut {
  margin-right: 5px; }

.blender-menu-list-item-icon {
  width: 18px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center; }

.blender-list {
  background-color: transparent; }

.blender-textarea {
  background-color: #778ca5;
  color: #212121;
  width: 200px;
  min-width: 85px; }
  .blender-textarea textarea {
    padding: 5px;
    border: none;
    background-color: transparent;
    -webkit-user-select: auto;
    -webkit-background-clip: padding-box;
    resize: none;
    display: block;
    margin: 0; }

.blender-overlay {
  background-color: rgba(0, 0, 0, 0.3); }

.blender-push-group {
  width: 200px;
  min-width: 85px;
  height: 20px;
  line-height: 20px; }
  .blender-push-group .blender-button-push:first-child {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -khtml-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  .blender-push-group .blender-button-push:last-child {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
  .blender-push-group .blender-button-push:last-child {
    border-right: none; }
  .blender-push-group .blender-button-push {
    float: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0; }

.blender-push-group {
  width: 200px;
  min-width: 85px;
  height: 20px;
  line-height: 20px; }
  .blender-push-group .blender-button-push:first-child {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -khtml-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  .blender-push-group .blender-button-push:last-child {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
  .blender-push-group .blender-button-push:last-child {
    border-right: none; }
  .blender-push-group .blender-button-push {
    float: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0; }

.blender-picker {
  z-index: 99;
  padding: 1px;
  background-color: #2e3945;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.8); }

.blender-unit {
  width: 200px;
  min-width: 170px;
  height: 20px; }
  .blender-unit .blender-number, .blender-unit .blender-select {
    float: left;
    height: 20px; }
  .blender-unit .blender-number {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -khtml-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent; }
    .blender-unit .blender-number .blender-slider-progress {
      -moz-border-radius: 3px 0 0 3px;
      -webkit-border-radius: 3px 0 0 3px;
      -khtml-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px; }
  .blender-unit .blender-select {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .blender-unit .blender-select .blender-select-text {
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      -khtml-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0; }

.blender-select {
  min-width: 80px;
  cursor: pointer;
  line-height: 21px;
  color: #fdfdfd;
  height: 20px;
  width: 200px;
  min-width: 85px; }
  .blender-select:active {
    color: #fdfdfd; }
  .blender-select:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 3px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fdfdfd; }
  .blender-select:before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 3px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fdfdfd; }
  .blender-select .text {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding-left: 15px; }
  .blender-select .blender-icon {
    line-height: 15px;
    text-align: center;
    font-size: 22px;
    color: #fdfdfd;
    float: right;
    width: 20px;
    height: 20px;
    border: none;
    border-left: 1px solid #151b21; }
    .blender-select .blender-icon.remove {
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      -khtml-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0; }
