.box.notice
  This project is still in development. Using it in production environment is not recommended.
.startup.box
  .w
    %h1
      Lattice
    %p
      Lattice is a User Interface Library / Framework. 
      Ispired by the 
      %a{:href=>"www.blender3d.org"}
        Blender 2.5
      GUI.
    %p
      Uses Mootools and makes a heavy use of Class mutators and extensions.
  .download
    Download: 1.0 RC
  .github
    Source at Github
.box
  %h1
    Compability
  %p
    This project currently doesn't support IE due to an IE specific issue. It will be resolved in the first stable release.
  %p
    Chrome 7, Firefox 3.6, Opera 11
