.startup.box
  .w
    %h1
      Lattice
    %p
      Lattice is a User Interface Library / Framework. 
      Ispired by the 
      %a{:href=>"www.blender3d.org"}
        Blender 2.5
      GUI.
    %p
      Uses Mootools and makes a have use of Class mutators and extensions.
  .download
    Download: 1.0 RC
  .github
    Source at Github
