.box.text
  %h1
    Roadmap
  %p
    You can browse the current issues for milestones at github.
  %h2
    Release Candidate 1
  %ul
    %li
      Validators for every attribute.
    %li
      Interfaces.Draggable
    %li
      IE fix for getting CSS.
    %li
      Display properties (@) in the docs.
    %li
      Packager for ruby.
