.box.text
  %h1
    Roadmap
  %p
    You can browse the current issues for milestones at github.
  %hr
  %h2
    Release Candidate 1
  %ul
    %li
      Validators for every attribute.
    %li
      Interfaces.Draggable
    %li
      IE fix for getting CSS.
    %li
      Display properties (@) in the docs.
    %li
      Garbage collection. (destroy())
    %li
      Specs.
    %li
      Namespace-, event-, attribute-, class-name normalization.
  %hr
  %h2
    Release Candidate 2
  %ul
    %li
      More themes.
    %li
      Fix issues that come up.
