.box.text
  %h1
    Roadmap
  %p
    You can browse the current issues for milestones at github.
  %hr
  %h2
    0.9 (current) - For MooTools Forge 
  %ul
    %li
      Current elements done and documented.
    %li
      Two themes: light and dark. (color variation)
    %li
      Website.
    %li
      Developer Guides (building, contributing, etc...)
    %li
      Class status document.
  %hr
  %h2
    0.9x - Release Candidate 1
  %ul
    %li
      Validators for every attribute.
    %li
      Interfaces.Draggable
    %li
      IE fix for getting CSS.
    %li
      Display properties (@) in the docs.
    %li
      Garbage collection. (destroy())
    %li
      Specs.
    %li
      Namespace-, event-, attribute-, class-name normalization.
    %li
      Possible structural changes.
    %li
      Compatilibty testing.
  %hr
  %h2
    0.9x - Release Candidate 2
  %ul
    %li
      More elements if needed.
    %li
      Layout engine support.
    %li
      More themes.
    %li
      Fix issues that come up.
  %hr
  %h2
    1.0 - Stable Release
