.box.d
  #box
  .clear
:javascript
  window.addEvent('domready', function(){
    
    pushButton = new Buttons.Toggle({label:'Push Button!'});
    button = new Buttons.Abstract({label:"Default Button!"});
    checkbox = new Core.Checkbox({label:"Checkbox"});
    
    horizontalSlider = new Core.Slider();
    scroller = new Core.Scrollbar();
    toggler = new Core.Toggler();
    texta = new Data.Text();
    number = new Data.Number();
    number.addEvent('change',function(e){
      button.set('size',e);
      pushButton.set('size',e);
      horizontalSlider.set('size',e);
      toggler.set('size',e);
      group.set('size',e);
      select.set('size',e);
      unit.set('size',e);
      texta.set('size',e);
    });
    
    group = new Groups.Toggles();
    for(i=0;i<5;i++){
      group.addItem(new Buttons.Toggle({label:i}));  
    }
    group1 = new Groups.Icons({spacing:{x:8,y:0}});
    for(i=0;i<7;i++){
      group1.addItem(new Core.Icon({image:'/Themes/Chrome/images/add.png'}));  
    }
    group2 = new Iterable.List({spacing:{x:8,y:0}});
    for(i=0;i<7;i++){
      group2.addItem(new Iterable.ListItem({label:"List item "+i}));  
    }
    date = new Data.Date();
    time = new Data.Time();
    dateTime = new Data.DateTime();
    
    
    unit = new Data.Unit();
    
    select = new Data.Select({'default':'background-break'});
    list = [' bounding-box','each-box','continuous','border-box','padding-box','content-box','no-clip']
    list.each(function(item){
      select.addItem(new Iterable.ListItem({label:item,removeable:false,draggable:false}))
    });
    
    $("box").adopt( button,pushButton, horizontalSlider,scroller, toggler, number, select, unit,group,checkbox,texta, group2,date,time,dateTime,group1 );
  });
