/*
Syntax error: Invalid variable: "$slotWidthTime = 35px".
        on line 1 of Themes/gdotui/date.sass

1: $slotWidthTime = 35px
2: $slotwidthDate = 45px
3: $height = 100px
4: 
5: .time, .date, .date-time
6:   +basic_style

Backtrace:
Themes/gdotui/date.sass:1
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:600:in `parse_variable'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:538:in `parse_line'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:447:in `build_tree'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:466:in `block in append_children'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:465:in `each'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:465:in `append_children'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:322:in `_to_tree'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:291:in `_render'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:238:in `render'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:175:in `each'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:173:in `each'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:252:in `block (4 levels) in watch'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/path.rb:71:in `call'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/path.rb:34:in `update'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/vendor/fssm/lib/fssm.rb:17:in `monitor'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:245:in `watch'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/plugin.rb:111:in `method_missing'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/exec.rb:408:in `watch_or_update'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/exec.rb:294:in `process_result'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/exec.rb:41:in `parse'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/lib/sass/exec.rb:21:in `parse!'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.0.alpha.252/bin/sass:8:in `<top (required)>'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/bin/sass:19:in `load'
/home/gdotdesign/.rvm/gems/ruby-1.9.2-p180/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid variable: \"$slotWidthTime = 35px\".\A         on line 1 of Themes/gdotui/date.sass\A \A 1: $slotWidthTime = 35px\A 2: $slotwidthDate = 45px\A 3: $height = 100px\A 4: \A 5: .time, .date, .date-time\A 6:   +basic_style"; }
